<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <!--  JDBC说明你需要手动commit 而 MANAGED 不需要   -->
            <transactionManager type="JDBC"/>
            <!-- Mybatis 会维护一个线程池  -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://116.204.121.198:3306/DBamss"/>
                <property name="username" value="sqlManager"/>
                <property name="password" value="123456sql"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/CarMapper.xml"/>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/OrderMapper.xml"/>
    </mappers>
</configuration>