<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.OrderMapper">
    <!--  mapper -->
    <resultMap id="resultMapSearchOrder" type="entity.Order">
        <id property="orderId" column="oid"/>
        <result property="userId" column="userId"/>
        <result property="cusId" column="cusId"/>
        <result property="orderTime" column="orderTime"/>
        <result property="cusName" column="cusName"/>
        <result property="cusPhone" column="cusPhone"/>
        <result property="hasLicenseServer" column="hasLicenseServer"/>
        <result property="payMethod" column="payMethod"/>
        <result property="pmtDiscount" column="pmtDiscount"/>
        <result property="deposit" column="deposit"/>
        <result property="deliveryTime" column="deliveryTime"/>
        <result property="purchaseTax" column="purchaseTax"/>
        <result property="address" column="address"/>
        <result property="isPay" column="isPay"/>
        <association property="car" column="carId" javaType="entity.Car" select="mapper.CarMapper.selectCarByCarId"/>
        <collection property="insurances" ofType="entity.Insurance" >
            <id column="ina" property="insName"/>
            <result property="price" column="price"/>
        </collection>
    </resultMap>

    <!--  添加  -->
    <insert id="addOrder" parameterType="entity.Car" keyProperty="orderId" useGeneratedKeys="true">
        insert `order`
        (carId,userId,cusId,orderTime,cusName,cusPhone,
        hasLicenseServer,payMethod,pmtDiscount,deposit,deliveryTime,purchaseTax,cusAddress,isPay)
        values (#{car.carId},#{userId},#{cusId},#{orderTime},#{cusName},#{cusPhone},
        #{hasLicenseServer},#{payMethod},#{pmtDiscount}, #{deposit},#{deliveryTime},#{purchaseTax},#{cusAddress},#{isPay})
    </insert>

    <insert id="addPurIns">
        insert purIns
        (insName,orderId)
        values (#{insName},#{orderId})
    </insert>

    <insert id="addIns">
        insert Insurances
        (insName,price)
        values (#{insName},#{price})
    </insert>
    
    <!--  查找  -->
    <select id="searchOrder" resultMap="resultMapSearchOrder">
        select
        `order`.orderId as oid,
        carId,
        userId,
        cusId,
        orderTime,
        cusName,
        cusPhone,
        hasLicenseServer,
        payMethod,
        pmtDiscount,
        deposit,
        deliveryTime,
        purchaseTax,
        cusAddress,
        i.insName as ina,
        price,
        isPay
        from `order` left join purIns on `order`.orderId = purIns.orderId
        left join Insurances i on purIns.insName = i.insName
        <where>
            <if test="orderId!=null">and `order`.orderId = #{orderId}</if>
            <if test="car.carId!=null">and carId = #{car.carId}</if>
            <if test="userId!=null">and userId = #{userId}</if>
            <if test="cusId!=null">and cusId = #{cusId}</if>
            <if test="orderTime!=null">and orderTime = #{orderTime}</if>
            <if test="cusName!=null">and cusName = #{cusName}</if>
            <if test="cusPhone!=null">and cusPhone = #{cusPhone}</if>
            <if test="hasLicenseServer!=null">and hasLicenseServer = #{hasLicenseServer}</if>
            <if test="payMethod!=null">and payMethod = #{payMethod}</if>
            <if test="pmtDiscount!=null">and pmtDiscount = #{pmtDiscount}</if>
            <if test="deposit!=null">and deposit = #{deposit}</if>
            <if test="deliveryTime!=null">and deliveryTime = #{deliveryTime}</if>
            <if test="purchaseTax!=null">and purchaseTax = #{purchaseTax}</if>
            <if test="cusAddress!=null">and cusAddress = #{cusAddress}</if>
            <if test="isPay!= null">and isPay = #{isPay}</if>
        </where>
    </select>

    <select id="searchAllInsurance" resultType="entity.Insurance">
        select * from Insurances
    </select>

    <!--  更新  -->
    <update id="updateOrder">
        update `order`
        <set>
            <if test="car.carId !=null">carId = #{car.carId},</if>
            <if test="userId!=null">userId = #{userId},</if>
            <if test="cusId!=null">cusId = #{cusId},</if>
            <if test="orderTime!=null">orderTime = #{orderTime},</if>
            <if test="cusName!=null">cusName = #{cusName},</if>
            <if test="cusPhone!=null">cusPhone = #{cusPhone},</if>
            <if test="hasLicenseServer!=null">hasLicenseServer = #{hasLicenseServer},</if>
            <if test="payMethod!=null">payMethod = #{payMethod},</if>
            <if test="pmtDiscount!=null">pmtDiscount = #{pmtDiscount},</if>
            <if test="deposit!=null">deposit = #{deposit},</if>
            <if test="deliveryTime!=null">deliveryTime = #{deliveryTime},</if>
            <if test="purchaseTax!=null">purchaseTax = #{purchaseTax},</if>
            <if test="cusAddress!=null">cusAddress = #{cusAddress},</if>
            <if test="isPay!=null">isPay= #{isPay},</if>
        </set>
        where orderId = #{orderId}
    </update>

    <!--  删除  -->
    <delete id="deletePurIns" parameterType="int">
        delete from purIns
        where orderId = #{orderId}
    </delete>

    <delete id="deleteOrder" parameterType="int">
        delete from `order`
        where orderId = #{orderId}
    </delete>

    
</mapper>