<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.UserMapper">

    <!--  插入  -->
    <insert id="addUser" parameterType="entity.User" useGeneratedKeys="true" keyProperty="userId">
        insert into user
        (password,name,phoneNumber,type)
        values(#{password},#{name},#{phoneNumber},#{type})
    </insert>

    <!--  搜索  -->
    <!--  根据类搜索  -->
    <select id="searchUser" resultType="entity.User">
        select * from user
        <where>
            <if test="userId != null">and userId = #{userId}</if>
            <if test="password != null">and password = #{password}</if>
            <if test="name != null">and name = #{name}</if>
            <if test="phoneNumber != null">and phoneNumber = #{phoneNumber}</if>
            <if test="type != null">and type = #{type}</if>
        </where>
    </select>

    <select id="searchUserById" parameterType="int" resultType="entity.User">
        select * from user
        where userId = #{userId}
    </select>

    <!--  根据名字  -->
    <select id="authenticate" resultType="entity.User">
        select type,name,userId from user
        where phoneNumber = #{phoneNumber}
        <if test="password != null">and password = #{password}</if>
    </select>

    <!--  删除  -->
    <delete id="deleteUserById" parameterType="int">
        delete from user
        where userId = #{userId}
    </delete>

    <!--  更新  -->
    <update id="updateUser" parameterType="entity.User">
        update user
        <set>
            <if test="password != null">password=#{password},</if>
            <if test="name != null">name = #{name},</if>
            <if test="phoneNumber != null">phoneNumber = #{phoneNumber},</if>
            <if test="type != null">type = #{type},</if>
        </set>
        where userId = #{userId}
    </update>

</mapper>